a:hover, a:visited, a:link, a:active  {
    text-decoration: none;
}

#top-header {
  height: 7em;
}

#log-in-out-button {
  float: right;
  margin: 5% 2.5% 0 0;
}

#new-item-button {
  float: right;
}

.list-group-item {
  border: 0px;
}

#item-description {
  margin: 4% 0 4% 0;
}

.margin-top-sections {
  margin-top: 3.5%;
}

.link-color {
  color: red;
}

.appName {
  font-family: 'Amatic SC', cursive;
  font-size: 500%;
  color: #04B404;
  margin:0 0 0 2.5%;
}

.main-body {
  background-color: #04B404;
}

.main-footer  {
  height: 3em;
}

.name-footer {
    text-align: center;
    margin: 0.75% 0 0 0;
}
