<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
  <div class="container">
    <header id="top-header" class="row">
      <div class="col-md-6">
        <h1>App Name</h1>
      </div>
      <div class="col-md-6">
        <button type="button"  id="log-in-out-button" class="btn btn-primary">Logout</button>
      </div>
    </header>
    <section class="row">
      <div class="col-md-12">
        <a href="#">
          <button id="new-item-button" class="btn btn-default link-color">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>new item
          </button>
        </a>
        <!--MESSAGE FLASHING EXAMPLE -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p><strong>{{message}}</strong></p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
    <section class="row">
      <div class="col-md-6">
        <h2>Categories</h2>
        {% for i in plantas %}
          <div class="list-group">
            <a href="#" class="list-group-item">{{ i.name }}</a>
          </div>
        {% endfor %}
      </div>
      <div class="col-md-6">
        <h2>{{ plantas2.name }}</h2>
        {% for i in itemName %}
          <div class="list-group">
            <a href="#" class="list-group-item">{{ i.name }}</a>
          </div>
        {% endfor %}
      </div>
    </section>
  </div>
</body>

</html>
