{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <section class="row margin-top-sections">
      <header class="col-md-12">

        <!--MESSAGE FLASHING EXAMPLE -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p><strong>{{message}}</strong></p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <h2>Delete Category</h2>
      </header>
      <form action="{{url_for('deleteCategoryFunction', category_id=category2.id)}}" method='POST'>
        <div class="form-group">
          <input type='submit' , value='Delete'>
        </div>
      </form>
      <a href="{{ url_for('catalogFunction')}}"> Cancel </a>
    </section>
{% endblock %}
