{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <section class="row margin-top-sections">
      <!--MESSAGE FLASHING EXAMPLE -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p><strong>{{message}}</strong></p>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <form action="{{ url_for('deleteItemFunction', category_id=item.category_id, item_id=item.id)}}" method='POST'>
        <div class='form-group'>
          <input type='submit' , value='Delete'>
        </div>
      </form>
      <a href="{{ url_for('categoryFunction', category_id=category_id)}}"> Cancel </a>
    </section>
{% endblock %}
