<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
  <div class="container">
    <header id="top-header" class="row">
      <div class="col-md-6">
        <h1>App Name</h1>
      </div>
      <div class="col-md-6">
        <button type="button"  id="log-in-out-button" class="btn btn-primary">Login</button>
      </div>
    </header>
    <section class="row margin-top-sections">
      <!--MESSAGE FLASHING EXAMPLE -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p><strong>{{message}}</strong></p>
      {% endfor %}
      {% endif %}
      {% endwith %}

      <form action="{{ url_for('deleteItemFunction', category_id=item.category_id, item_id=item.id)}}" method='POST'>
        <div class='form-group'>
          <input type='submit' , value='Delete'>
        </div>
      </form>
</body>
</html>
