{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <section class="row margin-top-sections">
      <header class="col-md-12">
        <!--MESSAGE FLASHING EXAMPLE -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p><strong>{{message}}</strong></p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h2>Edit Item</h2>
      </header>
      <form class="col-md-12" action="{{url_for('editItemFunction', category_id=editItem.category_id, item_id=editItem.id)}}" method='POST'>
        <div class="form-group">
          <label>Item Name</label>
          <input class="form-control" type='text' size='30' name='name' value='{{editItem.name}}' placeholder='{{editItem.name}}'>
          <label>Description</label>
          <textarea class="form-control" name='description' value='{{editItem.description}}' placeholder='{{editItem.description}}' rows="3"></textarea>
          <label>Category</label>
          <select class="form-control" id="inputCategory" name='category' value='{{editItem.category_name}}'>
            {% for i in category %}
              <option value="{{i.id}}">{{ i.name }}</option>
            {% endfor %}
          </select>
          <input type='submit' value='Edit'>
        </div>
      </form>
      <a href="{{ url_for('categoryFunction', category_id=category2.id)}}"> Cancel </a>
    </section>
{% endblock %}
