{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <section class="row margin-top-sections">
      <header class="col-md-12">
        <!--MESSAGE FLASHING EXAMPLE -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p><strong>{{message}}</strong></p>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h2>New category created</h2>
      </header>
      <form action="{{url_for('newCategoryFunction', category_id=category_id )}}" method='POST'>
        <div class="form-group">
          <label>Name:</label>
          <input type='text' size='30' name='name'>
          <input type='submit' value='Create'>
        </div>
      </form>

      <a href="{{ url_for('catalogFunction')}}"> Cancel </a>
    </section>
{% endblock %}
