<!DOCTYPE html>
<html lang="pt-br">

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>

<body>
  <div class="container">
    <header id="top-header" class="row">
      <div class="col-md-6">
        <h1>App Name</h1>
      </div>
      <div class="col-md-6">
        <button type="button"  id="log-in-out-button" class="btn btn-primary">Logout</button>
      </div>
    </header>
    <section class="row margin-top-sections">
      <header class="col-md-12">
        <h2>Create new Category</h2>
      </header>
      <form class="col-md-12">
        <div class="form-group">
          <label>Category Name</label>
          <input type="text" class="form-control" id="inputTitle">
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </section>
  </div>
</body>
</html>
