{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
    <section class="row margin-top-sections">
      <header class="col-md-12">
        <h2>New Item</h2>
      </header>
      <!--MESSAGE FLASHING EXAMPLE -->
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p><strong>{{message}}</strong></p>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <form class="col-md-12" action="{{url_for('newItemFunction', category_id=category2.id )}}" method='POST'>
        <div class="form-group">
          <label>Item Name</label>
          <input type="text" class="form-control" id="inputTitle" name='name'>
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" id="inputDescription" rows="3" name='description'></textarea>
        </div>
        <div class="form-group">
          <label>Category</label>
          <select class="form-control" id="inputCategory" name="category" placeholder='{{category.category_id}}'>
            {% for i in category %}
              <option value="{{i.id}}">{{ i.name }}</option>
            {% endfor %}
          </select>
        </div>
        <input type='submit' value='Create'>
      </form>
      <a href="{{ url_for('categoryFunction', category_id = category2.id)}}"> Cancel </a>
    </section>
{% endblock %}
